@model SmarAPDChallenge.ViewModels.Home.ScheduleCreateViewModal

    <div id="errorForm" class="alert alert-danger" role="alert" style="display:none;">
        
    </div>
<form id="newScheduleForm" autocomplete="off">
<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 row">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 form-group">
        @Html.LabelFor(m => m.Title, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", required = "required", id = "TitleSchedule" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 form-group row">
        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12 form-group">
            @Html.LabelFor(m => m.TimeStart, new { @class = "control-label" })
            <div class='input-group date'>
                @Html.TextBoxFor(m => m.TimeStart, new { @class = "form-control TimeStart datepicker", required = "required", id = "TimeStart" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.TimeStart)
        </div>

        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12 form-group">
            @Html.LabelFor(m => m.TimeEnd, new { @class = "control-label" })
            <div class='input-group date'>
                @Html.TextBoxFor(m => m.TimeEnd, new { @class = "form-control TimeEnd datepicker", required = "required", id = "TimeEnd" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(m => m.TimeEnd)
        </div>
    </div>

    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12 form-group">
        @Html.LabelFor(m => m.RoomId, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.RoomId, Model.Rooms, "Select...", new { @class = "form-control", required = "required", id = "RoomSchedule" })
    </div>
</div>
</form>